# Основные библиотеки
Django
djangorestframework
djangorestframework-simplejwt
djoser==2.2.3
django-filter

# Работа с изображениями
pillow==10.4.0

# Документация API
drf-yasg==1.21.7

# Запуск в production
gunicorn==23.0.0

# Подключение к PostgreSQL
psycopg2-binary==2.9.9

# Прочие полезные зависимости
PyJWT==2.9.0
requests==2.32.3