# Основные библиотеки
Django
djangorestframework
djangorestframework-simplejwt
djoser
django-filter

# Работа с изображениями
pillow
# Документация API
drf-yasg

# Запуск в production
gunicorn

# Подключение к PostgreSQL
psycopg2-binary

# Прочие полезные зависимости
PyJWT
requests